<!-- Start button container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div class="features-bg">
                <div class="features-img">
                </div>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="features-content">
                <h3>"Vaši štvornohí členovia rodiny sú aj našimi priateľmi"</h3>
                <p>
                    Samozrejme, že si môžete Vašich štvornohých zobrať so sebou. Ideálne prostredie na dlhé spoločné prechádzky, plávanie v jazere či čľapotanie v potoku. Vaši miláčikovia si to u nás tiež zamilujú.
                </p>
                <p>
                    <!-- <a href="#" class=" btn_1 white">Čítaj viac</a> -->
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End container-fluid  -->