<div class=" box_style_2">
    <i class="icon_set_1_icon-90"></i>
    <h4>Potrebujete poradiť? <br> Kontaktujte nás</h4>
    <a href='<%= phone.link %>' class="phone"><%= phone.label %></a>
    <small>Pondelok až piatok 9.00 - 18.30</small>
</div>