<div class="box_style_1" id="general_facilities">
    <h3>Základné vybavenie</h3>
    <ul>
        <li><i class="icon_set_1_icon-86"></i>Free Wifi</li>
        <li><i class="icon_set_2_icon-103"></i>Loundry service</li>
        <li><i class="icon_set_2_icon-110"></i>Swimming pool</li>
        <li><i class="icon_set_1_icon-58"></i>Restaurant</li>
        <li><i class="icon_set_1_icon-27"></i>Parking</li>
    </ul>
    <p>His <strong>civibus tacimates</strong> ex, an quo nominavi qualisque. In erant dissentiunt vel, dicit legimus docendi an nam. Te congue perfecto eos, aliquid corrumpit ea est, eam petentium repudiandae ad.</p>
</div>