<div class="strip_all_rooms_list wow fadeIn" data-wow-delay="0.1s">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="img_list">
                <a href="apartman"><img src="img/room_list_1.jpg" alt=""></a>
            </div>
        </div>
        <div class="clearfix visible-xs-block">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="rooms_list_desc">
                <h3><strong>Podkrovná časť</strong> domu</h3>
                <p>Táto časť domu poskytuje pohodlné ubytovanie pre  6 osôb. Avšak je možné ubytovať až dvojnásobný počet, teda 12 osôb.
K dispozícii sú tri samostatné spálne (2x štvorlôžková, 1x dvojlôžková), obývačka s rozkladacou sedačkou, kuchyňa (elektrická varná platňa, rúra, chladnička, mikrovlnka, kanvica) a kúpeľňa s vaňou spolu s WC.  Súčasťou vybavenia je WiFi pripojenie a TV.
Deti do 2 rokov sú ubytované zdarma a na vyžiadanie zabezpečíme detskú postieľku. 
V tejto časti domu je možné sa ubytovať aj s Vašim psíkom či mačkou za poplatok 2eur/deň/zvieratko.
V celom blízkom okolí nie je pripojenie na žiadneho z mobilných operátorov. 
                </p>
                <ul class="add_info">
                    <li>
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Plasma TV with cable channels"><i class="icon_set_2_icon-116"></i></a>
                    </li>
                    <li>
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Breakfast included"><i class="icon_set_1_icon-59"></i></a>
                    </li>
                    <li>
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="King size bed"><i class="icon_set_2_icon-104"></i></a>
                    </li>
                    <li>
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Shower"><i class="icon_set_2_icon-118"></i></a>
                    </li>
                    <li>
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="No smoking"><i class="icon_set_1_icon-47"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="price_list">
                <div>
                    <sup>$</sup>89*<span class="normal_price_list">$99</span><small>*Pax/Per night</small>
                    <p>
                        <a href="apartman" class="btn_1">Detaily</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!--End strip -->