<!-- start info grafic container --> 
<div class="container margin_60 padd_bottom_20">
<div class="main_title">
    <span></span>
    <h2>We love Country Holidays</h2>
    <p>
        Čas na oddych nastal vtedy, keď si myslíš že ho nemáš. 
        (staré anglické príslovie)
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_2_icon-104"></i>
            <h3>Príjemné ubytovanie na krásnej chalupe</h3>
            <p>
                Chalupa stojí na hranici chránenej oblasti Štiavnické vrchy necelé tri kilometre od dedinky Jabloňovce. Zo všetkých strán je obklopená lesom, spodnú časť pozemku lemuje potok. Dominantu tvorí rybník s príjemným posedením. Okolo rybníka je osvetlená vychádzková cestička, s netradičnou výsadbou. K dispozícii je ihrisko, trampolína a domček na strome, nie len pre deti. 
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_2_icon-108"></i>
            <h3>Relax s nádychom nostalgie</h3>
            <p>
                Relaxujte pri dobrej knihe v hojdacej sieti, pozorujte malinké pstruhy v potoku, počúvajte vtáky, púšťajte šarkana, alebo sa poprechádzajte, iba tak...
Príďte si pripomenúť ako vonia les a ako vyzerá nočná obloha.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_1_icon-40"></i>
            <h3>Rybolov</h3>
            <p>
                Starostlivo udržiavaný rybník je ideálne miesto pre aktívny odpočinok. Kapre, karasy a ???.  Ulovte toho najväčšieho a porazte rekord uvedený na tabuli pod mólom.
Rybársky preukaz nie je nutný, je však nutné priniesť si vlastné rybárske vybavenie.
            </p>
        </div>
    </div>
</div><!-- End row -->
</div><!-- End container -->