<div id="top_line">
	<div class="container">
				<ul id="top_links">
					<li><a href="#">Sk</a></li>
					<li><a href="#">En</a></li>
					<li><a href="#">De</a></li>
				</ul>
	</div><!-- End container-->
</div><!-- End top line-->