<div class=" box_style_2"><!-- contact_box -->
    <i class="icon_set_1_icon-90"></i>
    <h4><%- contact_box.title %></h4>
    <a href='<%= phone.link %>' class="phone"><%= phone.text %></a>
    <small><%- contact_box.timeToContact %></small>
</div>